<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carolina Seda</title>
</head>


<body>
  <app-nav-bar></app-nav-bar>
  <div class="start"> 
    <app-cards 
    [title] = "'Conectate con el Exito'"
    [text] = textContent
    [show] = "false"
    ></app-cards>
  </div>
  <div class="container">
    <app-cards 
    [title] = "'Consejos'"
    [imagen] = "'assets/consejos.jpg'"
    [imagenTop] = "'assets/consejos2.png'"
    [text] = "'Tenes dudas sobre tu economia?. Accede a los consejos de Carolina Seda'" 
    ></app-cards>
    <app-cards 
    [title] = "'Cursos'"
    [imagen] = "'assets/cursos.jpg'"
    [imagenTop] = "'assets/cursos2.png'"
    [text] = "'Si tenes claro que es lo que buscas, ve a buscarlo. Selecciona el curso que quieras y cumple tus metas.'" 
    ></app-cards>
  </div>
  @defer (on viewport) {
    <footer>
      <app-footer></app-footer>
    </footer>
  }@placeholder {
    <p>Loading...</p>
  }
</body>
</html>